.work-section-wrapper {
  width: 100%;
  border: 2px solid red;
}
.infox {
  height: 100svh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b113 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-align: left;
  margin: 50px 0px 0px 150px;
}

.infoximg {
  width: 800px;
  height: 90%;
  display: flex;
}
