.work-section-wrapper {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes slideee {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.blackscarf {
  width: 130%;
  background-color: rgba(5, 5, 5, 0.8);
  height: 200px;
  border-radius: 50% 50% 0px 0px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 15%;
}

.infox {
  height: 100svh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.8);
}

.infox2 {
  background-color: rgba(74, 76, 172, 0.5);
}
.b113 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-align: left;
  margin: 50px 0px 0px 150px;
}

.infoximg {
  width: 800px;
  height: 90%;
  display: flex;
}
