nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbarr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  gap: 40px;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 700px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  border-radius: 10px;
}

.navbar-links-container a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 10px;
  color: rgb(32, 31, 31);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links-container a:hover {
  color: #e70a0a;
}

.navbar-cart-icon a {
  transition: color 0.3s;
}

.navbar-cart-icon:hover {
  animation: text-animation 0.5s forwards;
  color: #007bff;
}

@keyframes text-animation {
  0% {
    transform: scale(1);
    letter-spacing: normal;
  }
  50% {
    transform: scale(1.2);
    letter-spacing: 2px;
  }
  100% {
    transform: scale(1);
    letter-spacing: normal;
  }
}

.btnsmanager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  width: 150px;
  background-color: rgb(129, 224, 106);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 4px 4px rgba(41, 49, 58, 0.2);
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-menu-container {
  display: none;
}

.searchcontent {
  display: flex;
  flex-direction: row;
}

.search {
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-logo-container {
  max-width: 200px;
}

.navbar-cart-icon {
  font-size: 30px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }

  .navbar-cart-icon {
    font-size: 25px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}
